@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.sidebar__item--1 {
  background: rgb(127,162,168);
  background: linear-gradient(90deg, rgba(127,162,168,1) 0%, rgba(241,136,92,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.sidebar__item--1 h1 {
  color: #d3b8ad;
}


.sidebar__item--2 {
  background: rgb(131,31,16);
  background: linear-gradient(90deg, rgba(131,31,16,1) 0%, rgba(43,8,6,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.sidebar__item--2 h1 {
  color: #a52a17;
}


.sidebar__item--3 {
  background: rgb(193,216,228);
  background: linear-gradient(90deg, rgba(193,216,228,1) 0%, rgba(27,93,129,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.sidebar__item--3 h1 {
  color: #aab0ae;
}


.sidebar__item--4 {
  background: rgb(125,165,42);
  background: linear-gradient(90deg, rgba(125,165,42,1) 0%, rgba(26,40,4,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.sidebar__item--4 h1 {
  color: #a7b07e;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.main {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main__item--1 {
  background-image: url("img-1.jpeg");
}

.main__item--2 {
  background-image: url("img-2.jpeg");
}

.main__item--3 {
  background-image: url("img-3.jpeg");
}

.main__item--4 {
  background-image: url("img-4.jpeg");
}

.main > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
